name: SonarQube Analysis

on: [push]  # Trigger the workflow on pushes to any branch

jobs:
  sonar:
    runs-on: ubuntu-latest  # Run the workflow on an Ubuntu virtual machine

    steps:
      - uses: actions/checkout@v3  # Checkout the repository code

      - name: Install Docker Engine  # Install Docker if not already present
        uses: docker/setup-docker@v3

      - name: Login to Docker Hub (Optional)  # If using a private Docker registry
        uses: docker/login-action@v2  # Uncomment and configure if needed
        with:
          username: your_docker_username
          password: ${{ secrets.DOCKER_PASSWORD }}  # Replace with your Docker password secret

      - name: Run SonarQube Scanner  # Analyze code using SonarQube Scanner action
        uses: SonarSource/sonarcloud-github-action@v3.2.0
        with:
          # Replace with your actual SonarQube server details
          sonarcloudUrl: "http://localhost:9000"  
          token: ${{ secrets.SONAR_TOKEN }}
          # Path to the codebase to analyze (replace with your project directory)
          projectKey: exp2
